.lists li{
    list-style-type: none;
}
.lists a{
    text-decoration: none;
}

.lists{
    display: flex;
}
.lists img{

    width: 79px;
    height: 49px;
    float: left;

}

.MainClass{
    display: flex;
    justify-content: space-between;
    background-color:#d84f57;
    height: 10.204vh;
    background-position: 10vh;
    font: bolder;
    font-family: Montserrat;
    color: blanchedalmond;
    font-size: 2.3809vh;

}
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    
    
  }

  .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown img{
    width: 29px;
    height: 31px;
    float: right;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 13px;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  /* css for content changer */

  /* .changer{
    display: flex ;
    justify-content: space-between;
  } */